
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 10px;
  } 
  .image img {
    max-width: 100%;
    max-height: 100%;
  }

  #gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

body{

    
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 40px;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.logo {
    color: #b45d5d;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.ul-{
    display: flex;
    position: relative;
}
.ul- li{
    list-style: none;
}
.ul- a {
    color: #131212;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn{
    padding: 10px 20px;
    background: #fb911f;
   margin-top: -10px;
   text-transform:uppercase ;
}

.btn:hover{
    background: #d87710;
    transition: ease-out;
}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
section{
    padding: 100px;
}
.rowspan{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.rowspan .colspan{
    position: inherit;
    width: 66%;
    justify-content: center;
    align-items: center;
    line-height: 36px;
}
.rowspan .colspan h2{
    margin-bottom: 20px;
}
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.contact{
   
    width: 100%;
    
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}



.contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 3px 19px 68px rgba(7,11,24,3);
    max-width: 528px;
    margin-top: 101px;
    justify-content: center;
    align-items: center;
    margin-left: 36%;
    height: 215px;
}

.contactform h3{
    color: #111;
    margin: auto;
    font-size: 23px;
    line-height: 70px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0, 0.1);
    background: rgba(228,222,222,);
    text-align: center;
}
.copyright p:nth-child(1){
    color: #333;
}

.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}



  
  .contact-info h2 {
    color: #333;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info .label {
    font-weight: bold;
  }
  #reservation {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
#reservation form {
    display: flex;
    background-color: rgba(0,0,0,0.05);
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}
#reservation form  label {
    margin-bottom: 8px;
    font-size: 14px;
}
#reservation form input {
    margin-bottom: 10px;
   padding: 5px;
   border: 1px solid transparent;
   box-shadow: 0 0 10px rgba(0,0,0,0.05);
   outline: 0;
}
#reservation form input:focus {
    outline: 1px solid #27ae60;
}
#reservation form input[type="submit"]{
    margin-top: 15px;
    color: #fff;
    background-color: #27ae60;
    border: 1px solid #27ae60;
}
